.header {
	width: var(--page-width);
	margin: auto;
    text-align: center;
	align-items: center;
}

.header h1 {
    display: inline-block;
	color: #f2f2f2;
	background: var(--secondary-color);
	font-size: 5rem;
	line-height: 5rem;
	font-weight: 700;
	margin: 0 5px 24px;
	/* float: left; */
	padding: 0.7rem;
	font-family: var(--primary-font-family);
    border-radius: var(--header-border-radius);
}
.button-wrapper {
	display: flex;
}
