.button {
    min-width: 85px;
    margin: 0.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 0.8em;
    padding: 0.5em 1em;
    cursor: pointer;
}
.button:disabled{
    background-color: grey;
}
.button-reg {
    width: 200px;
    height: 100px;
    margin: 0.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 0.6em;
    padding: 0.75em 2em;
    cursor: pointer;
}

.orange {
    background-color: var(--main-color);
    color: #fff;
    border:  1px solid #fff;
}

.white {
    background-color: var(--main-background);
    color: rgba(251,129,22,255);
    border:  1px solid rgba(251,129,22,255);
}