body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: var(--primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: rgb(107,81,174);
  --secondary-color: #adc56b;
  --page-width: 80%;
  --primary-font-family: "Libre Baskerville", cursive;
  --header-border-radius: 68px 51px 34px 17px/17px 34px 51px 68px;
  --main-btn-border-radius: 17px 34px;
  --secondary-btn-border-radius: 17px 34px 51px;
  --input-border-radius: 17px 34px 51px 8.5px;
}
